main.post > div > .hero-content { 
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
}

main.post > div > .hero-content > h1 {  
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    font-size: 2rem;
}

main.post > div > .hero-content > p {  
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

main.post > div > .post-detail > hr {  
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    max-width: 40rem;
    width: 100%;
}

main.post > div > .post-detail > .post-content {   
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 300;
    height: fit-content;
    line-height: 1.6rem;
    max-width: 40rem;
    width: 100%;
    word-spacing: 0.2rem;
}

main.post > div > .comments-content {   
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
}

main.post > div > .comments-content > h2 {    
    font-size: 1.4rem;
}

main.post > div > .comments-content > form {    
    align-items:center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    width: 100%;
    max-width: 40rem;
}

main.post > div > .comments-content > form > h3 {    
    font-weight: 300;
    width: 85%;
}

main.post > div > .comments-content > form > .form-field {    
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    width: 90%;
}

main.post > div > .comments-content > form > .form-field > label {
    font-size: 0.8rem;
    left: 0.4rem;
    position: relative;
}

main.post > div > .comments-content > form > .form-field > input {
    border-radius: 15px;
    height: 3rem;
    width: 100%;
}

main.post > div > .comments-content > form > .form-field > textarea { 
    border-radius: 15px;
    height: 7rem;
    width: 100%;
}

main.post > div > .comments-content > form > .button-container { 
    height: 2rem;
    position: relative;
    width: 100%;
}

main.post > div > .comments-content > form > .button-container > button { 
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    height: 2rem;
    letter-spacing: 0.1rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

main.post > div > .comments-content > form > .button-container > button:hover { 
    opacity: 0.8;
}

main.post > div > .comments-content > .comment { 
    align-items: center;
    border-radius: 15px;
    display: flex;
    height: max(8rem, fit-content);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 40rem;
    width: 100%;
}

main.post > div > .comments-content > .comment > .left { 
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: center;
    width: 25%;
}

main.post > div > .comments-content > .comment > .left > img { 
    height: 5rem;
}

main.post > div > .comments-content > .comment > .right { 
    height: 90%;
    width: 65%;
}

main.post > div > .comments-content > .comment > .right > h4 { 
    margin-bottom: 0.6rem;
    font-size: 1rem;
    font-weight: 300;
}

main.post > div > .comments-content > .comment > .right > .date-email { 
    align-items: center;
    display: flex;
}

main.post > div > .comments-content > .comment > .right > .date-email > p { 
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    font-size: 0.6rem;
}

main.post > div > .comments-content > .comment > .right > .date-email > p:nth-child(2) { 
    margin-left: 2rem;
}

main.post > div > .comments-content > .comment > .right > .content { 
    font-size: 0.7rem;
}

/* Dark */
#dark > main.post > div > .comments-content > form > .form-field > input { 
    color: black;
}

#dark > main.post > div > .comments-content > form > .form-field > textarea { 
    color: black;
}

#dark > main.post > div > .comments-content > form {    
    background-color: var(--dk-main-middle)
}

#dark > main.post > div > .comments-content > form > .button-container > button { 
    background-color: var(--dk-hr-fg);
}

#dark > main.post > div > .comments-content > .comment { 
    background-color: var(--dk-main-middle);
}

/* Light */

#light > main.post > div > .comments-content > form > .form-field > input { 
    border: 1px solid #AAAAAA;
    color: black;
}

#light > main.post > div > .comments-content > form > .form-field > textarea { 
    border: 1px solid #AAAAAA;
    color: black;
}

#light > main.post > div > .comments-content > form {    
    background-color: var(--lt-main-middle)
}

#light > main.post > div > .comments-content > form > .button-container > button { 
    background-color: var(--dk-hr-fg);
    color: white;
}

#light > main.post > div > .comments-content > .comment { 
    background-color: var(--lt-main-middle);
}
